#sidebar {
  background-color: #1a535c;
  color: #FFFFFF;
  overflow: scroll;
  height: 100px;
}

#sidebar-right {
  background-color: #1a535c;
  color: #FFFFFF;
  overflow: scroll;
}

#main-window {
  background-color: #f7fff7;
  overflow: scroll;
}

#message-bar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 1000px;
  height: 25px
}

#channels { 
  padding-left: 0; 
  list-style: none;
}

.message {
  background-color: #f7fff7;
  width: 100%;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}

.icon {
  color: red;
}

li.current-channel {
  color: #ff6b6b;
}

li.joined-channel:hover{
  font-weight: bold;
  cursor: pointer;
}

li.joined-channel>.join-ch-icon {
  display: none;
}

li.joined-channel>.leave-ch-icon {
  display: initial;
}

li:not(.joined-channel)>.join-ch-icon {
  display: initial;
}

li:not(.joined-channel)>.leave-ch-icon {
  display: none;
}


.icon:hover {
  height: 1.5em;
}

.icon {
  height: 1em;
}

span.channel-name {

}